.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin: auto;
  margin-top: 100px;
}

.custom-form {
  width: 100%;
  max-width: 700px;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

.create-promo-heading {
  font-size: 35px; /* Adjust the font size as needed */
}


.formBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 30px;
}


